/* Estilos básicos */
body {
    background: linear-gradient(to bottom, #000000, #383838);
        background-size: cover;
     background-repeat: no-repeat;
      background-attachment: fixed;
}


/* Encabezado */
header {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 25px;
    text-align: center;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* opcional, para reset */
}

nav ul li {
    display: inline-block;
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Secciones */
section {
    margin: 2rem auto;
    padding: 1rem;
    width: 80%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(255, 0, 0, 0.1);
}
p {
    margin: 40px; 
}
footer {
    color: #ffffff;
}
h2 {
    color: #ffffff;
}
 html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
